* {
    margin: 0px;
    padding: 0px;    
    background-color: rgb(255,255,255);
}

                                                    /* CENTER */

.container {
    width:70vw;
    height:70vh;
    margin:auto;
    padding: 5%;
}

.center {
    justify-content: center;
    margin-bottom: 3%;
    display:flex;
}

.center h1 {
    font-size: 40px;
}

                                                    /* BOX */

.box {
    margin-left: 21rem;
}

.b2 {
    width:40%;
    height:40vh;
    border:1px solid rgb(238,129,118);
    border-radius: 5px;
    padding: 3%;
    box-shadow:6px 5px 6px rgb(176, 171, 171) ;
    text-align: center;
}

.b2 h4 {
    font-size: 20px;
    padding-left: 10px;
    color:tomato;
}

.b2 hr {
    margin: 10px 0px 20px 10px;
    width: 15.9rem;
}

.b2 strike {
    font-size: 20px;
    margin:2px 0px 0px 10px;
    color: #ff0d0d;
}

.b2 p {
    font-size: 20px;
    position: relative;
    right: 1.1rem;
}

.b2 input {
    margin:5px 5px 0px 5px;
}

.bottom {
    position: relative;
    left:43%;
    top:40%;
}

.material-icons {
    color: #e02020;
    font-size: 40px;
}

.material-icons:hover {
    color: #3ecae2;
}

                                                    /*  INDEX-4 CSS */

.t4body{ 
    filter: blur(3px);
    z-index: -1;
}

.page {
    width:27%;
    margin:auto;
    border-radius: 10px;
}

.b3 {
    position: absolute;
    top:30%;
    border:1px solid salmon;
    border-radius: 10px;
    text-align: center;
    width:25%;
    height:23vh;
    padding:2%;
    box-shadow: 5px 5px 6px rgb(157, 153, 153);
}

.b3 label {
    text-align: center;
    color:rgb(212, 46, 27);
    font-size: 20px;
}

.b3 input {
    width:80%;
    height:4vh;
    border:1px solid rgb(212, 98, 86);
    border-radius: 4px;
}

.b3 button {
    border:none;
    background-color: rgb(218, 85, 62);
    color: white;
    border-radius: 19px;
    padding: 8px;
    width:30%;
    font-size:17px ;
}

.back {
    position: absolute;
    top: 8.5rem;
    left: 42rem;
}